* {
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    width: 60vw;
}

article
{
    margin-right: 20px;
}
img {
    height: 30vh;
    width: auto;
    object-fit: cover;
}

.homepage-second-section {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.homepage-cta {
    text-decoration: none;
    font-weight: bold;
    color: #1976d2;
    border: 2px solid  #1976d2;
    border-radius: 2px;
    padding: .5em 1.5em;
}

.homepage-cta:hover {
    background-color:  #60a4e769;
}