
<body>
    <main>
        <section class="homepage-first-section">
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula enim eget lorem vehicula, ac interdum massa luctus. Duis at ullamcorper leo. Praesent at eros a ligula sagittis vulputate rutrum eget nisi. Duis eu sem ligula. Donec vitae cursus augue. Sed volutpat ultricies sollicitudin. Aliquam pellentesque nulla in mauris molestie tempus. Nam efficitur gravida libero, ac accumsan elit malesuada sed. Curabitur dictum sodales mauris, non pharetra purus sagittis eget. Curabitur eu nulla tempus, venenatis diam at, molestie massa. Pellentesque ornare risus at mi consectetur, eu eleifend leo commodo. Suspendisse potenti. </p>
                <p>Vivamus in gravida magna. Pellentesque nec efficitur erat. Integer cursus nec risus a viverra. Donec tristique erat ac erat hendrerit condimentum. Phasellus egestas egestas suscipit. Aliquam eu ultrices nibh. Donec pharetra ultricies augue quis imperdiet. In hendrerit nunc ut fermentum ornare. Phasellus rutrum, nunc quis bibendum ornare, enim ante imperdiet justo, et lacinia sem ipsum nec neque. Ut consectetur quam risus, sit amet mattis nulla tempus at. Sed fermentum est vel quam interdum pulvinar. In condimentum est sed luctus facilisis. Sed feugiat commodo arcu, eget tincidunt ex pretium in. </p>              
            </article>
            <img src="./assets/images/homepage-car.png">
        </section>
        <section class="homepage-second-section">
            <a routerLink="/locations" routerLinkActive="active" class="homepage-cta">Trouver ma voiture !</a>
        </section> 
    </main>    
</body>
