<body>
    <p>Duis eu sem ligula. Donec vitae cursus augue. Sed volutpat ultricies sollicitudin. Aliquam pellentesque nulla in mauris molestie tempus. Nam efficitur gravida libero, ac accumsan elit malesuada sed. Curabitur dictum sodales mauris, non pharetra purus sagittis eget. Curabitur eu nulla tempus, venenatis diam at, molestie massa. Pellentesque ornare risus at mi consectetur, eu eleifend leo commodo.</p>

    <h3>Contact Form</h3>
    
    <div class="container">
      <form action="/action_page.php">
        <label for="femail">Email</label>
        <input type="text" id="femail" name="email" placeholder="Your email..">
    
        <label for="fsubject">Subject</label>
        <input type="text" id="fsubject" name="subject" placeholder="The subject..">
    
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="france">France</option>
          <option value="suisse">Suisse</option>
          <option value="belgique">Belgique</option>
        </select>
    
        <label for="fmessage">Message</label>
        <textarea id="fmessage" name="fmessage" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </div>
    
</body>