<div id="menu-tab"><!----------------tableau-01---------------------------------->
    <div id="page-wrap">
    <div class="tabs"><!----------------onglet-01-customers-------------------------->
    <div class="tab"><input id="tab-1" checked="checked" name="tab-group-1" type="radio" /> <label for="tab-1">Customers</label>
    <div class="content">
        <br />
        <table border="1px">
            <tr><td>A</td><td>1</td></tr> 
            <tr><td>B</td><td>2</td></tr> 
            <tr><td>C</td><td>3</td></tr> 
            <tr><td>D</td><td>4</td></tr>
        </table>
    </div>
    </div>
    <!----------------onglet-02-vehicles-------------------------->
    <div class="tab"><input id="tab-2" name="tab-group-1" type="radio" /> <label for="tab-2">Vehicles</label>
    <div class="content">
    <br />
    <table border="1px">
        <tr><td>E</td><td>5</td></tr> 
        <tr><td>F</td><td>6</td></tr> 
        <tr><td>G</td><td>7</td></tr> 
        <tr><td>H</td><td>8</td></tr>
    </table>
    </div>
    </div>
    <!----------------onglet-03-bookings-------------------------->
    <div class="tab"><input id="tab-3" name="tab-group-1" type="radio" /> <label for="tab-3">Bookings</label>
    <div class="content">
        <br />
        <table border="1px">
            <tr><td>W</td><td>9</td></tr> 
            <tr><td>X</td><td>10</td></tr> 
            <tr><td>Y</td><td>11</td></tr> 
            <tr><td>Z</td><td>12</td></tr>
        </table>
    </div>
    </div>
    </div>